{% extends './base.html' %}

{% block head %}
welcome
{% endblock %}

{% block body %}
Signed as<strong class="text-primary">{{ email }}</strong>
<br><br>
<div style="padding: 15px; background-color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;">
    <form action="{% url 'post_report' %}" method="post" class="form-group">
        {% csrf_token %}
        <label for="title">Tags</label>
        <input type="text" name="title" id="title" class="form-control"><br>
        <label for="progress">Post</label>
        <textarea type="text" name="progress" id="progress" rows="3" class="form-control"></textarea><br>
        <input type="submit" name="submit" value="Post"size="" class="btn btn-primary">
    </form>
</div>
<br>
<h1>Posts</h1>
<br>
{% if tasks %}
    {% for task in tasks %}
    {% if task.title %}
    <div style="padding: 15px; background-color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;">
        <strong class="text-success">{{ task.title }}</strong>
        <p class="card-text mb-auto">{{ task.progress }}</p>
    </div>
    {% endif %}
    <br>
    {% endfor %}
{% endif %}
{% endblock %}